/* Estrutura do site 
------------------------*/
body {
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

/* Logo
---------------------*/
#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
}

/* Barra de navegação
-------------------------*/
header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
}